<header>
  <div class="container">
    <div class="header__wrap">
      <div class="header__logo">
        <a href="/" class="header__logo"><img src="" alt="" />ACCTopUs</a>
      </div>
      <div class="header__right">
        <div class="header__search">
          <input type="text" placeholder="Найти..." />
          <button>Найти</button>
        </div>

        <!-- <div class="header__buttons">
          <button class="btn-green">Кнопка</button>
        </div> -->
      </div>
    </div>
  </div>
</header>
