<nav class="nav">
  <div class="container">
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/contacts">Контакты</a></li>
      <li><a href="/rules">Правила</a></li>
      <li><a href="/payinfo">Оплата</a></li>
      <li><a href="/providers">Поставщикам</a></li>
    </ul>
  </div>
</nav>
