<div class="table">
  <div class="table__wrap">
    <div class="table__head">
      <div class="column__id">#</div>
      <div class="column__image">Аккаунт</div>
      <div class="column__name">Название</div>
      <div class="column__price">Цена</div>
      <div class="column__count">Количество</div>
      <div class="column__button">Купить</div>
    </div>

    <div class="table__item">
      <div class="column__id">#</div>
      <div class="column__image column__image_item">
        <img src="img/vk.svg" alt="" />
      </div>
      <div class="column__name column__name_item">
        VK.com/вконтакте (Авторег,саморег) / Друзья 10000+ Пол (Ж) Вк Раскрученные
      </div>
      <div class="column__price">659 руб.</div>
      <div class="column__count">56</div>
      <div class="column__button">
        <button class="btn-green">Купить</button>
      </div>
    </div>
  </div>
</div>
