<%- include("components/head.ejs") %> 
  <body>
    <%- include("components/header.ejs") %> 
    <%- include("components/nav.ejs") %> 
    <div class="container">
        <div class="contacts">
            <h2>Контакты</h2>
        </div>
       
    </div>
  </body>
</html>